extends layout

block content
    h1 #{person.name}

    p 
          p  Born: #{person.born}
    p        
            if inbound.length
              p Offspring:
              for individual in inbound
                li.inbound 
                 a(href='/persons/#{individual.id}') #{individual.name} 
    p
            if outbound.length
              p Genetic Parents:
              for individual in outbound
                li.outbound 
                  a(href='/persons/#{individual.id}') #{individual.name} 
    p
            a(href='/persons') Back to everyone

    
a(href='/users/#{user.id}') #{user.name}            


