extends layout

block content
    h1 #{person.name}

    p 
          p  Born: #{person.born}
    p        
            if inbound.length
              p Offspring:
              for individual in inbound
                li.inbound 
                 a(href='/persons/#{individual.id}') #{individual.name} 

            p You can allways add offspring...     
    p
            if outbound.length
              p Genetic Parents: 
              for individual in outbound
                li.outbound 
                  a(href='/persons/#{individual.id}') #{individual.name} 
             
             if outbound.length > 1
                     p You have max parents 
             else if outbound.length == 1
                     p You can add 1 parent
             else 
                     p You can add 2 parents
    p
            a(href='/persons') Back to everyone

    
a(href='/users/#{user.id}') #{user.name}            


