extends layout

block content
    h1 #{person.name}

    p 
            p  Born: #{person.born}
            p  Gender: #{person.gender}
    p      
            p Offspring:
            if inboundX.length
              for individual in inboundX
                li.inboundX 
                 a(href='/persons/#{individual.id}') #{individual.name} 

            if inboundY.length
              for individual in inboundY
                li.inboundY 
                 a(href='/persons/#{individual.id}') #{individual.name} 

            p Parents: 
    p
            if outboundX.length
              for individual in outboundX
                li.outboundX 
                  a(href='/persons/#{individual.id}') #{individual.name} 
             
            if outboundY.length
              for individual in outboundY
                li.outboundY 
                  a(href='/persons/#{individual.id}') #{individual.name} 

    p
            a(href='/persons') Back to everyone
    


