extends layout

block content
    h1 #{person.name}
    p 
            p  Born: #{person.born}
            p  Gender: #{person.gender}
    p      

    if parents.length
       form(action='/persons/#{person.id}/setParent', method='POST')
           p Add parent: 
           label
             select(name='individual[id]', required)
                 option(value='')
                  for individual in parents
                    option(value='#{individual.id}') #{individual.name}
           input(type='submit', value='Relate')

    p
      a(href='/persons') Back to everyone
    

