extends layout

block content
    h1 #{person.name}

    p
        a(href='/persons') Back to everyone


        form(action='/persons/#{person.id}/related', method='POST')
            p Add a relationship to #{person.name}:
            label
                select(name='person[id]', required)
                    option(value='')
                    for person in others
                        option(value='#{person.id}') #{person.name}
            input(type='submit', value='Related')
//        p There's no one else left for #{person.name} to follow!


     form(action='/persons/#{person.id}', method='POST', onsubmit='return confirm("Are you sure?");')
